@import "@/styles/variables.css";

.filter {
  background-color: var(--white-color);
  padding: 16px;
}

.container {
  margin-inline: auto;
  display: block;
  text-align: center;
}

.filter__list {
  display: inline-flex;
  margin-inline: auto;
  border-radius: 999px;
  border: 1px solid var(--gray-9-color);
  overflow: hidden;
}

.filter__item:not(:last-child) {
  border-right: 1px solid var(--gray-9-color);
}

.filter__button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 13px 24px;
  font-family: "SF", sans-serif;
  cursor: pointer;
}

.filter__button--active {
  background-color: var(--gray-9-color);
}
