:root {
  --primary-color: #E55A63;
  --pink-search-color: #ED8B91;
  --pink-2-color: #FA91A6;
  --pink-3-color: #F599A0;
  --pink-4-color: #EA7B82;
  --pink-5-color: #F4717A;
  --dark-red-color: #BB464E;
  --light-red-color: #FF2D55;
  --light-gray-color: #F5F5F7;
  --white-color: #ffffff;
  --blue-color: #71C4EF;
  --yellow-color: #F4DC9E;
  --brown-color: #A85100;
  --total-black-color: #000000;
  --black-color: #333333;
  --gray-1-color: #949495;
  --gray-2-color: #DDDDDF;
  --gray-3-color: #E2E2E4;
  --gray-4-color: #999999;
  --gray-5-color: #717171;
  --gray-6-color: #6E6E6F;
  --gray-7-color: #686869;
  --gray-8-color: #DBDBDB;
  --gray-9-color: #E4E4E4;
}