@import "@/styles/variables.css";

.breadcrumbs__list {
  display: flex;
  gap: 10px;
}

.breadcrumbs__item {
  font-weight: 500;
  font-size: 12px;
}

.breadcrumbs__item:not(:first-child) {
  padding-left: 16px;
  position: relative;
}

.breadcrumbs__item:not(:first-child)::before {
  content: '';
  background: url("../../assets/icons/smallArrowRight.svg");
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
}

.breadcrumbs__item:not(:last-child) {
  color: var(--pink-2-color);
}

.breadcrumbs__item {
  color: var(--gray-1-color);
}

.breadcrumbs__button {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
