@import "@/styles/variables.css";

.cart-product {
  display: flex;
  gap: 24px;
}

.cart-product__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 8/9;
  border-radius: 16px;
  overflow: hidden;
  flex: 0 0 35%;
}

.cart-product__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-product__info {
  flex: 0 0 65%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.cart-product__name {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--black-color);
}

.cart-product__light-text {
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  color: var(--gray-11-color);
}

.cart-product__light-text--thin {
  font-weight: 400;
}

.cart-product__dark-text {
  color: var(--black-color);
  font-weight: 500;
}

.cart-product__delivery {
  display: flex;
  flex-direction: column;

  .cart-product__dark-text {
    margin-bottom: 8px;
  }
}

.cart-product__count {
  display: flex;
  align-items: center;
  gap: 14px;
}
