@import "@/styles/variables.css";

.cart-products {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 48px 48px;
}

.cart-products__content {
  background-color: var(--white-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 48px;
  padding: 24px;
  border-radius: 40px;
  max-width: 1344px;
  width: 100%;
  margin-inline: auto;
}

.cart-category__name {
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  color: var(--gray-4-color);
}

.cart-category__value {
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  color: var(--black-color);
}

.cart-category__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--gray-10-color);
  padding-bottom: 16px;
  padding-inline: 24px;
}

.cart-category__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 48px;
  padding-top: 16px;
  padding-inline: 24px;
}

.cart-products__empty {
  text-align: center;
}