@import '@/styles/variables.css';

.not-found-page {
  padding: 48px;
  background-color: var(--white-color);
}

.not-found-page__maintitle {
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.not-found-page__description {
  font-size: 20px;
  font-weight: 500;
}

.not-found-page__link {
  color: var(--blue-color);
  padding: 8px;
  border-radius: 999px;
}